body{
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 50px auto auto ;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

h1, h2, h3, p{
    text-align: center;
    
}

ul{
    text-align: center;
    padding:0;
}

nav{
    grid-area: nav;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li{
    list-style-type: none;
}